{% extends 'base.html' %}

{% block title %}Assignment 11{% endblock %}

{% block tochen %}
<h1> Outer Source</h1>

    <h2> Request Frontend:</h2>
        <input type="number" name="number_frontend" id="id">
        <input type="submit" value="Get User" onclick="getUsers()">
    <main>

    </main>

    <h2> Request Backend:</h2>
        <form action="/assignment11/outer_source">
            <input type="number" name="number_backend" required>
            <input type="submit" value="Get User">
        </form>

    {% if User %}
        <img src="{{ User.data.avatar }}" alt="pic">
        <br>
        {{ User.data.id }}
        <br>
        {{ User.data.first_name }}  {{ User.data.last_name }}
        <br>
        {{ User.data.email }}
    {% endif %}

    <script src="../static/js/assignment11.js"></script>
{% endblock %}